.container {
  min-width: var(--desktop-max-width);
  height: auto;
  background-color: var(--color-dark);
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  margin-top: 64px;
  @media only screen and (max-width: 480px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 120px 12px;
  }
}
