.error_input {
  color: #eb0a8f !important;
  width: 100%;
  margin-top: 4px !important;
  font-size: 14px !important;
}

// .falling_text {
//   font-size: 48px;
//   font-weight: bold;
//   background: linear-gradient(90deg, #ff6b6b, #feca57, #1dd1a1);
//   background-size: 300% 300%;
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   display: inline-block;
//   text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.3), 8px 8px 5px rgba(0, 0, 0, 0.2);
//   transform-style: preserve-3d;
//   position: relative;
// }

// .falling_text span {
//   display: inline-block;
//   animation: fallAnimation 3s infinite ease-in-out;
// }

// @keyframes fallAnimation {
//   0% {
//     transform: translateY(-50px) rotateX(30deg);
//     opacity: 0;
//   }
//   50% {
//     transform: translateY(0px) rotateX(0deg);
//     opacity: 1;
//   }
//   100% {
//     transform: translateY(10px) rotateX(-10deg);
//     opacity: 0.8;
//   }
// }
