.tabs {
  margin: 24px;
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 24px;
  height: 64px;
}
.settings_search {
  max-width: 240px;
}
