.container {
  max-width: 340px;
  height: auto;
  background-color: var(--color-grey);
  border-radius: 24px;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  &:hover {
    transform: scale(0.9);
  }
  .nftImage {
    width: 340px;
    height: 340px;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
  }
  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-bottom: 24px;
    h1 {
      color: white;
      font-family: var(--font);
      letter-spacing: 1px;
      margin-top: 8px;
    }
    .nftCreatorSection {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 8px 12px;
      .nftCreatorImage {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }
      p {
        color: white;
        letter-spacing: 1px;
        font-family: var(--font);
        padding-left: 24px;
      }
    }
  }
  .nftPriceSection {
    width: 100%;
    p {
      width: 100%;
      color: white;
      font-family: var(--font);
      margin-top: 8px;
      display: flex;
      justify-content: space-between;
      span {
        margin: 0 12px;
      }
    }
  }
}
