:root {
  --color-dark: #2b2b2b;
  --color-grey: #3b3b3b;
  --color-primary: #108ee9;
  --color-purple: #a259ff;
  --filter-png-purple-icons: invert(47%) sepia(85%) saturate(4094%)
    hue-rotate(242deg);
}
